//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 05 14:43:03 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Anode<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "Anode<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "Anode<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "Anode<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "Anode<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "Anode<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "Anode<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "Anode<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "Cathode<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "Cathode<1>" LOCATE = SITE "R10" LEVEL 1;
COMP "Cathode<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "Cathode<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "Cathode<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "Cathode<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "Cathode<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "Cathode<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "clock" LOCATE = SITE "E3" LEVEL 1;
COMP "reset" LOCATE = SITE "P18" LEVEL 1;
SCHEMATIC END;

